ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    top: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li.navbar {
    display: block;
    float: left;
    font-family: Inter;
    font-size: 15pt;
}

a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #b6b6b6;
    transition: color  0.3s ease-in-out;
    transition: text-shadow 0.3s ease-in-out;
}

.active {
    color: #ddb812;
}

li a:not(.active):hover {
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
}

li a.active:hover {
    color: #f7d230;
    text-shadow: 0 0 3px #f7d230;
}

.navbar-icon {
    padding-right: 6px;
}